<td>{{movie.Movie_ID}}</td>
<td>{{movie.Title}}</td>
<td>{{movie.Year}}</td>
<td>{{movie.Rated}}</td>
<td>{{movie.Released}}</td>
<td>{{movie.Genre}}</td>
<td>{{movie.Director}}</td>
<td>{{movie.Actors}}</td>
<td>{{movie.Plot}}</td>
<td><img src="{{movie.Poster}}" width="100" /></td>
<td>
  <a href="/data/search/id/{{movie.Movie_ID}}">View</a>
  <a href="/movies/{{movie.Movie_ID}}/edit">Edit</a>
  <a href="/movies/{{movie.Movie_ID}}/delete">Delete</a>
</td>